/* здесь используйте глобальные переменные */
$primary-font: "Lato", "Century Gothic", sans-serif;
$secondary-font: "Oswald", "Impact", sans-serif;

$basic-black: #000000;
$secondary-black: #111111;
$basic-white: #ffffff;
$special-dark-grey: #444444;
$basic-green: #68b738;
$basic-green-2: #5eaa2f;
$basic-grey: #f2f2f2;
$special-grey: #cdcdcd;
$special-grey-2: #ebebeb;
$special-grey-3: #666666;
$bg-grey: #eaeaea;
$card-title: #222222;
