.additional-goods {
  width: 100%;
  overflow: hidden;
}

.additional-goods__wrapper {
  width: 280px;
  margin: 0 auto;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding-bottom: 95px;
  }
}

.additional-goods__heading {
  position: relative;
  margin: 0;
  margin-bottom: 36px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
    font-size: 32px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
  }
}

.additional-goods__content {
  display: flex;
  flex-direction: column;
  gap: 35px;

  @media (min-width: $tablet-width) {
    gap: 70px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    gap: normal;
  }
}

.additional-goods__list {
  padding: 0;
  margin: 0;
  list-style: none;

  @media (min-width: $desktop-width) {
    width: 894px;
  }
}

.additional-goods__item {
  display: flex;
  flex-direction: column;
  padding: 12px 0 18px;
  border-top: 1px solid $special-grey;

  &:last-child {
    border-bottom: 1px solid $special-grey;
  }

  @media (min-width: $tablet-width) {
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 26px 38px 27px;
    gap: 22px;
    border-left: 1px solid $special-grey;
    border-right: 1px solid $special-grey;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;
    align-items: center;
    gap: normal;
    padding: 15px 0 16px;
    border-right: none;
    border-left: none;
  }
}

.additional-goods__item-title {
  margin: 0;
  margin-bottom: 13px;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $card-title;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding-bottom: 3px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-right: auto;
    padding: 0;
  }
}

.additional-goods__item-pricing {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  line-height: 14px;
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    margin: 0;
    gap: 51px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    width: 285px;
    min-width: 285px;
    gap: normal;
    align-items: center;
    padding-top: 3px;
    margin-right: 40px;
  }
}

.additional-goods__price {
  min-width: 42px;
  text-align: right;

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.additional-goods__order {
  padding: 10px;
  text-align: center;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 244px;
    min-width: 244px;
  }
}

.additional-goods__promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 59px 61px 43px;
  background-image:
    linear-gradient(rgba($basic-green, 0.85), rgba($basic-green, 0.85)),
    url("../../images/promo-bg-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &::before {
    content: "";
    display: block;
    width: 78px;
    height: 80px;
    background-image: url("../../icons/stack.svg#gift-icon");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (min-resolution: 2dppx) {
    background-image:
      linear-gradient(rgba($basic-green, 0.85), rgba($basic-green, 0.85)),
      url("../../images/promo-bg-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    padding: 57px 77px 60px;
    flex-direction: row;
    align-items: flex-start;
    gap: 264px;
    background-image:
      linear-gradient(rgba($basic-green, 0.85), rgba($basic-green, 0.85)),
      url("../../images/promo-bg-tablet@1x.jpg");

    &::before {
      width: 80px;
      height: 83px;
    }
  }

  @media (min-width: $tablet-width) and (min-resolution: 2dppx) {
    background-image:
      linear-gradient(rgba($basic-green, 0.85), rgba($basic-green, 0.85)),
      url("../../images/promo-bg-tablet@2x.jpg");
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    gap: 47px;
    padding: 56px 42px 42px;
    background-image:
      linear-gradient(rgba($basic-green, 0.85), rgba($basic-green, 0.85)),
      url("../../images/promo-bg-desktop@1x.jpg");
  }

  @media (min-width: $desktop-width) and (min-resolution: 2dppx) {
    background-image:
      linear-gradient(rgba($basic-green, 0.85), rgba($basic-green, 0.85)),
      url("../../images/promo-bg-desktop@2x.jpg");
  }
}

.additional-goods__promo-text {
  width: 161px;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $basic-white;

  @media (min-width: $tablet-width) {
    padding-top: 14px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    text-align: center;
  }
}
