.button {
  font-family: $secondary-font;
  text-transform: uppercase;
  color: $basic-white;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;

  &--primary {
    background-color: $basic-green;

    &:hover {
      background-color: $basic-green-2;
    }

    &:active {
      color: rgba($basic-white, 0.3);
    }
  }

  &--secondary {
    color: $special-dark-grey;
    background-color: $basic-grey;

    &:hover {
      background-color: $special-grey-2;
    }
  }
}
