

.catalog__heading {
  font-size: 36px;
  line-height: 36px;
}

.catalog__all {
  &::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-image: url("../../icons/stack.svg#plus-icon");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.catalog__all-title {
  font-size: 16px;
  line-height: 20px;
  color: $secondary-black;
  text-transform: uppercase;
}

.catalog__all-appeal {
  font-size: 12px;
  line-height: 16px;
  color: $special-dark-grey;
}

.catalog__all-button {
  font-size: 16px;
  line-height: 20px;
}
