.intro {
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: "";
    display: block;
    width: 100%;
    height: 302px;
    background-image:
      linear-gradient(rgba($basic-green, 0.85), rgba($basic-green, 0.85)),
      url("../../images/intro-background-mobile@1x.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  @media (min-resolution: 2dppx) {
    &::before {
      background-image:
        linear-gradient(rgba($basic-green, 0.85), rgba($basic-green, 0.85)),
        url("../../images/intro-background-mobile@2x.jpg");
    }
  }

  @media (min-width: $tablet-width) {
    &::before {
      display: none;
    }
  }
}

.intro__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 27px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    position: relative;
    min-height: 875px;
    width: 708px;
    padding-top: 65px;
    padding-bottom: 0;
    padding-left: 90px;
    align-items: flex-start;
  }

  @media (min-width: $desktop-width) {
    padding-top: 110px;
    padding-left: 80px;
    min-height: 580px;
    width: 1220px;
  }
}

.intro__heading {
  margin: 0;
  margin-bottom: 25px;
  width: 250px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  color: $basic-white;

  @media (min-width: $tablet-width) {
    width: 416px;
    margin-bottom: 40px;
    color: $basic-black;
    text-align: start;
    font-size: 60px;
    line-height: 60px;
  }
}

.intro__appeal {
  margin: 0;
  margin-bottom: 29px;
  font-size: 14px;
  line-height: 14px;
  color: $basic-white;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 283px;
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 20px;
    color: $basic-black;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
  }
}

.intro__promo-image {
  display: block;
  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    object-fit: contain;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    top: 29px;
    bottom: auto;
    left: 447px;
    width: 552px;
    z-index: -1;
  }
}

.intro__choose-program {
  display: block;
  width: 100%;
  padding: 10px 64px;
  text-align: center;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    width: fit-content;
    padding: 14px 26px;
    font-size: 20px;
    line-height: 26px;
  }
}
