
.page-header__logo {
  display: flex;
  align-items: center;
  width: fit-content;
  height: fit-content;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__mobile-menu-toggler {
  width: 20px;
  height: 20px;

  &--closed {
    background-image: url("../../icons/stack.svg#burger-icon");
  }

  &--opened {
    background-image: url("../../icons/stack.svg#black-cross");
  }
}

.page-header__menu-list {
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic-black;
}

.page-header__menu-item {
  background-color: $basic-white;
}

.page-header__menu-link {
  color: inherit;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
