

.targets__list-item {
  position: relative;
  line-height: 18px;
  background-color: $basic-grey;

  &::before {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: $basic-green;
    border-radius: 50%;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &--slimming {
    &::after {
      width: 36px;
      height: 50px;
      top: 20px;
      left: 20px;
      background-image: url("../../icons/stack.svg#egyptian-cat-icon");
    }
  }

  &--gaining {
    &::after {
      width: 72px;
      height: 50px;
      top: 20px;
      left: 20px;
      background-image: url("../../icons/stack.svg#panther-icon");
    }
  }
}

.targets__item-title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.targets__item-description {
  color: $special-dark-grey;
}

.targets__item-link {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $basic-black;

  &::after {
    content: "";
    display: inline-block;
    height: 10px;
    width: 32px;
    background-image: url("../../icons/stack.svg#forwarding-icon-normal");
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: left;
  }

  &:hover {
    &::after {
      background-image: url("../../icons/stack.svg#forwarding-icon-hover");
      background-size: 32px;
    }
  }

  &:active {
    opacity: 0.3;
  }
}
